Desktop/
arch-dot-files/
İndirilenler/
Downloads/
archcraft-wallpapers/
.git/
perl5/
yay/
.config/bumblebee-status/
.bin/
.cache/
.cpan/
.emacs.d
.icons/
.mozilla/
mplayer/
.oh-my-zsh/
.pki/
.ssh/
.zcompdump*
.local/share/nvim/
.local/share/Trash/
.local/state/nvim/
.zsh_history
.wget-hsts
