Xft.dpi: 96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

*faceName: JetBrainsMonoNL Nerd Font Mono
*faceSize: 13
! *ttyModes: 256
XTerm*.vt100.selectToClipboard: true
XTerm*.vt100.metaSendsEscape: true
XTerm*decTerminalID: vt340
XTerm*numColorRegisters: 256

! Xterm Renk Ayarları
! *background: #2f3441
! *foreground: #dcdcdc



! Diğer yapılandırmalar
! XTerm*cursorColor: #ffcc00  ! İmleç rengi
! XTerm*font: xft:JetBrainsMonoNL Nerd Font Mono:size=13  ! Yazı tipi ve boyutu

! Şeffaflık Ayarları
*transparent: true
*shading: 32
! Dracula Xresources palette
XTerm*foreground: #F8F8F2
XTerm*background: #282A36
XTerm*color0:     #000000
XTerm*color8:     #4D4D4D
XTerm*color1:     #FF5555
XTerm*color9:     #FF6E67
XTerm*color2:     #50FA7B
XTerm*color10:    #5AF78E
XTerm*color3:     #F1FA8C
XTerm*color11:    #F4F99D
XTerm*color4:     #BD93F9
XTerm*color12:    #CAA9FA
XTerm*color5:     #FF79C6
XTerm*color13:    #FF92D0
XTerm*color6:     #8BE9FD
XTerm*color14:    #9AEDFE
XTerm*color7:     #BFBFBF
XTerm*color15:    #E6E6E6
